.card {
  position: relative;
  transition: transform 160ms ease, box-shadow 160ms ease;
  background: var(--chakra-colors-bg-subtle);
  border: 1px solid var(--chakra-colors-border-muted);
  backdrop-filter: blur(1.5rem);
  overflow: hidden;
}

.headerCard {
  box-shadow: var(--chakra-shadows-xl);
  backdrop-filter: blur(1.5rem);
}

.avatar {
  transition: transform 160ms ease;
}

.avatar:hover {
  transform: scale(1.03);
}
