html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html:not([data-color-mode]) body {
  background: #1e0a28;
  color: #ededed;
}

html[data-color-mode='light'] body {
  background: #ff7fb3;
  color: #171717;
}

html[data-color-mode='dark'] body {
  background: #1e0a28;
  color: #ededed;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
